= form_for [@question, Response.new] do |f|
  %ul.list-group
    - @question.answers.each do |answer|
      %li.list-group-item
        = f.radio_button :answer_id, answer.id
        = f.label :answer_id, answer.character.name, :value => answer.id
  = f.submit "Submit", disabled: true, class: "btn btn-success"