// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#quote {
  height: 200px;
}

.clickable, .clickable input, .clickable label {
  &:hover {
    cursor: pointer;
    background: #f7f7f9;
  }
}

.not-allowed {
  cursor: not-allowed;
}

.answer-label {
  margin-left: 15px;
}